<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
        [% IF contact %]
           Edit Contact - ID: [% contact.id %] 
        [% ELSE %]
           Create new Contact
        [% END %]
        </h1>
        [% IF form %]
            [% form.render %]
        [% END %]
    </div>
</div>
