<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
        [% IF program_message %]
           Edit Program Message - ID: [% program_message.id %] 
        [% ELSE %]
           Create new Program Message
        [% END %]
        </h1>
        [% IF form %]
            [% form.render %]
        [% END %]
    </div>
</div>
