[% IF troll %]
    <div class="row">
        <div class="col-lg-12">
            [% troll_info.render %]
        </div>
    </div>
[% END %]

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        [% IF table %]
            [% table.render %]
        [% END %]
    </div>
</div>  


