[% IF troll %]
    [% troll_info.render %]
[% END %]

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        [% IF table %]
            [% table.render %]
        [% END %]
    </div>
</div>  


